nav {
    display: flex;
    flex: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;

}

main {
    display: flex;
    text-align: center;
    margin: 0 15%;

}

main h1 {
    font-size: 55px;
}

main p {
    font-size: 35px
}


