nav {
    display: flex;
    flex: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;

}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 15%;

}

main h1 {
    font-size: 55px;
}

main p {
    font-size: 35px
}

#startQuiz {
    border: 5px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 45px;
    color: white;
    background-color: purple;
    width: 400px;
    height: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.show {

}

.hide {
    display: none;
}

#questions-and-answers{
    text-align: center;
}

#h2-score {
    font-size: 55px;
}
/* font size for text before input field*/
#high-score {
    font-size: 30px;
}
/*font size for input field so that box doesnt look to small next to the preceding text*/
#initials {
    font-size: 30px; 
}


#button {
    display: block;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: purple;
    width: 300px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
}



#submit-button {
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: purple;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*hover effect for quiz buttons and start button */
#button:hover {
    background-color: fuchsia;
}

#startQuiz:hover {
    background-color: fuchsia;
}

#submit-button:hover {
    background-color: fuchsia;
}