nav {
    display: flex;
    flex: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;

}

nav a {
    color: fuchsia;
    text-decoration: none;
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 15%;

}

main h1 {
    font-size: 55px;
}

main p {
    font-size: 35px
}

#startQuiz {
    border: 5px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 45px;
    color: white;
    background-color: purple;
    width: 400px;
    height: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.show {

}

.hide {
    display: none;
}

#questions-and-answers{
    text-align: center;
}

#h2-score {
    font-size: 55px;
}
/* font size for text before input field*/
#high-score {
    font-size: 30px;
}
/*font size for input field so that box doesnt look to small next to the preceding text*/
#initials {
    font-size: 30px; 
}

#all-scores li {
    margin-bottom: 5px;
    background-color: rgb(163, 123, 163);
    height: 45px;
}

#correct-wrong {
    font-size: 30px;
    text-align: left;
    color: grey;
    margin-top: 10px;
    border-top: solid 5px;
    border-color: grey;
    width: 600px;

}


#button {
    display: block;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: purple;
    width: 300px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}



#submit-button {
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: purple;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#all-scores {
    font-size: 35px;
    
    
}

#clear {
    display: block;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: purple;
    width: 300px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.back {
    display: block;
    text-decoration: none !important;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: purple;
    width: 300px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;  
}

.back a {
    text-decoration: none;
    color: white;
}

/*hover effect for quiz buttons and start button */
#button:hover {
    background-color: fuchsia;
}

#startQuiz:hover {
    background-color: fuchsia;
}

#submit-button:hover {
    background-color: fuchsia;
}

#clear:hover {
    background-color: fuchsia;
}

.back:hover {
    background-color: fuchsia;
}

.back:visited {
    color: white !important;
    text-decoration: none !important;
}